body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: auto;
  background-color: #161A30;
}

h1 {
  text-align: center;
  color: #ffffff;
}

form {
  color:#fff;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background: #31304D;
  color: #ffffff;
}

.app-button-update {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.app-button-delete {
  background-color: #d62b0c;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}